body{background-color:#1C1C1C;color:silver;}
p[name="res"]
{
	font-size:1.3em;
}
.objEle{color:white;font-weight:bold;}
/*.arrEle{display:none}*/
.arrEle{color:red;}

.cajaEq
{
	width:80%;
	margin:50px 0 0 10%;
}
.cajaEq p
{
	font-size:2em;
	width:15%;
	float:left;
}
.cajaEq input
{
	background-color:dimgray;
	color:silver;
	border-style:none;
	font-weight:bold;
	font-size:1.5em;
	padding:15px;
	border-radius:3px;
	display:block;
	margin:10px 0px 0px 10px;
}
.cajaEq span
{
	display:block;
	clear:both;
	border-bottom:2px dashed;
	padding-bottom:25px;
	margin-bottom:25px;
}
.button
{
	font-size:1.5em;
	margin:20px 0px 20px 0px;
	font-weight:bold;
	color:white;
}
.exp
{
}
.expo
{
	color:dimgray;
	vertical-align:super;
}
.uno
{
	visibility: hidden
}
#routh
{
	width:80%;
	margin-left:10%;
	text-align:center;
	border-spacing:0px;
	table-layout: fixed;
	border-bottom:1px solid dimgray;
	border-right:1px solid dimgray;
}
#routh td
{
	height:2em;
	border-top:1px solid dimgray;
	border-left:1px solid dimgray;
}
#pRouth
{
	text-align:center;
	font-size:1.3em;
}
#pRouth .uno
{
	display:none;
}
.sEstable{color:green;}
.sInestable{color:red;}
.sEstable, .sInestable{text-align:center}
.bode
{

}
.linea
{
	border-color:dimgray;
	position:absolute;
}
.V
{
	border-top:1px dashed dimgray;
}
.H
{
	border-left:1px dashed dimgray;
}
.llave
{
	color:#58ACFA;
}
.paren
{
	color:#58ACFA;
}
.corcho
{
	color:#58ACFA;
}
.corcho font
{

}
.llave , .corcho , .paren ,.llave font, .corcho font, .paren font
{
	position:relative;
	left:2%;
	clear:left;
	display:block;
}
.clave
{
	color:#0AC000;
	clear:none;
}
.param
{
	color:#CB3AFF;
	clear:none;
}
font{display:inherit;}
